<!DOCTYPE html>

<html>

<head>
       <link rel="icon" href="/img/weather.png">
    <script src="../js/app.js"></script>
</head>

<body>
   <div class="main-content">
     {{>header}}
    <p>{{message}}</p>
   </div>
    {{>footer}}
</body>
</html>