<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/app.js"></script>
</head>

<body>
    {{>header}}
        <p>{{message}}</p>
    {{>footer}}
</body>
</html>